/target/
core/target/
.settings/
.project
.classpath
core/.classpath
core/.project
cli/.classpath
cli/.project
cli/.settings/
core/.settings/
cli/target/
bin/
db/
resources/pad_fs_nov.conf
run_novello.sh
ship_jars.sh

